@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-bg-base: #f4f4f5;
  --color-bg-elevated: #ffffff;
  --color-bg-hover: #e4e4e7;
  --color-bg-input: #ffffff;
  --color-border: #d4d4d8;
  --color-border-input: #a1a1aa;
  --color-text-primary: #18181b;
  --color-text-secondary: #52525b;
  --color-text-tertiary: #71717a;
  --color-primary-400: #3b82f6; /* blue-500 */
  --color-primary-500: #2563eb; /* blue-600 */
  --color-accent-400: #0ea5e9; /* sky-500 */
  --color-accent-500: #0284c7; /* sky-600 */
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

:root.dark, .dark {
  --color-bg-base: #09090b;
  --color-bg-elevated: #18181b;
  --color-bg-hover: #27272a;
  --color-bg-input: #18181b;
  --color-border: #27272a;
  --color-border-input: #3f3f46;
  --color-text-primary: #fafafa;
  --color-text-secondary: #a1a1aa;
  --color-text-tertiary: #71717a;
  --color-primary-400: #60a5fa; /* blue-400 */
  --color-primary-500: #3b82f6; /* blue-500 */
  --color-accent-400: #38bdf8; /* sky-400 */
  --color-accent-500: #0ea5e9; /* sky-500 */
}
